<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753531438374-v0ab1bhbs0natf9430v5kanhsiq3acem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753531438374-v0ab1bhbs0natf9430v5kanhsiq3acem</string>
	<key>API_KEY</key>
	<string>AIzaSyBmEJ-wgKBQiojV1GaHlzghIwd4iMwwJn4</string>
	<key>GCM_SENDER_ID</key>
	<string>753531438374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studentcorner.studentCorner</string>
	<key>PROJECT_ID</key>
	<string>student-corner-bc4ef</string>
	<key>STORAGE_BUCKET</key>
	<string>student-corner-bc4ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753531438374:ios:7c502cd388b63782316de7</string>
</dict>
</plist>